footer.footer
    .footer__logo 
        img(src='/img/logo-green.png' alt='Full logo')
    ul.footer__nav
        li.footer__item
            a.footer__link(href='#') About us
        li.footer__item
            a.footer__link(href='#') Donwload apps
        li.footer__item
            a.footer__link(href='#') Become a guide
        li.footer__item
            a.footer__link(href='#') Careers